main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(/app/images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}
